@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    @apply m-0 min-h-full dark:bg-blue-900 bg-blue-400;
  }
  * {
    @apply box-border;
  }

  .line {
    @apply fill-[none] stroke-white stroke-[6] lg:invisible visible;
    transition: stroke-dasharray 400ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 400ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
  }
  .line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }
  .opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
  }
  .opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }
  .headernavigation {
    @apply h-[80px] bg-green-700 lg:bg-green-900 border-b-[10px] border-gray-700 transition-[height] duration-[250ms] ease-in-out absolute z-10 w-full;
  }
  @media (max-width: 1024px) {
    .headernavigation-open {
    @apply h-[325px] transition-[height] duration-[250ms] ease-in-out;
    }
  }
  #btnContainer {
    @apply h-full list-none m-0 p-0 overflow-hidden flex items-center flex-col lg:flex-row whitespace-nowrap;
  }
  .LOGO_li {
    @apply w-full bg-green-900 self-start h-[70px];
  }
  .LOGO {
    @apply max-h-[50px] max-w-[50px] select-none;
  }
  #btnContainer li {
    @apply px-[20px] py-[10px];
  }
  #btnContainer li > a,
  .dropbtn {
    @apply inline-block text-white text-xl text-center no-underline relative transition-[color] ease-in hover:text-red-500;
  }
  #expand-menu {
    @apply block absolute right-5 top-[15px] m-0 p-0;
  }
  #expand-menu > span {
    @apply content-[www];
  }
}
